body {
    font-family: 'Roboto', sans-serif;
    color: map-get($colors, "gray-900");
    box-sizing: border-box;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}